$dark: #a94848;
$light: #d66161;

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: white;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-nav ml-auto {
    color: black;
}

.navbar-toggler {
  border: none;
  background: black !important;
}


.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
  
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
  
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
  
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }


.background {   
  padding: 0 !important;
  margin: 0 auto !important;
  background-size: cover;
  overflow: hidden;
  height: 40vh;
}

/*Main Image - Main Page*/
.jumbotron{
    background: url(images/48timerbg.png);
    background-size: cover;
    background-position:center;
    height: 30rem;
}

 .container .program {
    background: url(images/programbg.png);
    background-size: cover;
    background-position: 100% 20%;
    height: 6rem;
}

.container .volunteer {
    background: url(images/volunteerbg.png);
    background-size: cover;
    background-position:100% 20%;
    height: 6rem;
}

.container .actor {
    background: url(images/actorbg.png);
    background-size: cover;
    background-position: 100% 10%;
    height: 6rem;
}




@import "bootstrap-4.3.1/scss/bootstrap.scss";
@import "bootstrap-4.3.1/scss/mixins/_breakpoints.scss";
@import "bootstrap-4.3.1/scss/_variables.scss";
@import "bootstrap-4.3.1/scss/_functions.scss";



